
.doc .prompt {
  color: blue;
  font-weight: bold;
}

.doc p code.userinput,
.doc .cmd,
.doc p code.cmd {
  color: red;
  font-weight: bold;
}

/* user input */
.doc .in {
  color: #c33;
  font-weight: bold;
}

.doc p code,
.doc .output {
  color: blue;
}

kbd {
  color: #333;
  font-weight: normal;
}

/* style for [app], <application> */
.doc .app {
  color: #363;
  font-weight: bold;
}

/* style for [org], <organization> */
.doc .org {
  color: #336;
}

.doc .literalblock pre {
  color: #006;
}

/* style for [path], <filename> */
.doc .path {
  color: #060;
}

.doc h4,
.doc h5 {
  font-weight: bold;
}

/* style for [opt], <option> */
.doc .opt {
  color: #909;
}

/* style for [rep], <replaceable> */
.doc .rep {
  color: #099;
}

/* style for [label], <guilabel> */
.doc .label {
  background: #aaa;
}

/* styles on the devguide */
.doc .param,
.doc .class,
.doc .var,
.doc .constant,
.doc .type {
  color: #008080;
}

.doc .math {
  font-family: "Times New Roman", Courier, Garamond, serif;
}

/**
 * medium-zoom styles
 */
.medium-zoom-overlay,
img.medium-zoom-image {
  z-index: 1000;
}

/**
 * Hide the navigation menu
 */
@media screen and (min-width: 1024px) {
  .nav-toggle {
    display: initial;
  }
}

.nav-container {
  display: initial;
}

.nav-container.is-active {
  display: initial;
}

@media screen and (min-width: 1024px) {
  .nav-container {
    display: none;
  }
}
